<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EA101G5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>ActivityServlet</servlet-name>
  <servlet-class>com.activity.controller.ActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ActivityServlet</servlet-name>
   <url-pattern>/activity/activity.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>PicServlet</servlet-name>
  <servlet-class>com.activity.controller.PicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>PicServlet</servlet-name>
   <url-pattern>/activity/activitypic.do</url-pattern>
  </servlet-mapping>
</web-app>