.product-img img{   /*商品圖片*/
	max-width:auto;
	height: 300px;
}

.single-cart-item .cart-thumb{ /*購物車圖片*/
	height: 280px;
	}

.summary-table li span{  /*結帳區商品總計、運費、總計*/
	font-size: 20px;
	font-family: 微軟正黑體;
}

.essence-btn{ /*加到購物車按鈕、結帳按鈕*/
	font-size: 15px;
}

.widget .widget-title { /*商品分類**/
    font-size: 25px;
}
.widget .catagories-menu li > a {/*商品左側三大分類*/
    font-size: 23px; 
    font-weight:500;

   }

.widget .catagories-menu .sub-menu li > a{/*商品左側三大分類下的小分類*/
	font-size: 20px;
}

.product-topbar .total-products p {
	font-size: 15px;
}

.product-topbar .product-sorting p {
	font-size: 15px;
}

.product-topbar .nice-select {
	font-size: 15px;
}

.single-product-wrapper .product-description h6{
	font-size: 20px;
}
