<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EA101G5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
		<servlet-name>ProductServlet</servlet-name>
		<servlet-class>com.product.controller.ProductServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductServlet</servlet-name>
		<url-pattern>/product/product.do</url-pattern>
	</servlet-mapping>
	
	  <servlet>
		<servlet-name>ProdpicServlet</servlet-name>
		<servlet-class>com.product.controller.ProdpicServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProdpicServlet</servlet-name>
		<url-pattern>/product/product.pic</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ShoppingServlet</servlet-name>
		<servlet-class>com.product.controller.ShoppingServlet</servlet-class>
	</servlet>
	<servlet-mapping>	
		<servlet-name>ShoppingServlet</servlet-name>
		<url-pattern>/Shopping.html</url-pattern>
	</servlet-mapping>
	
	
		<servlet>
		<servlet-name>product_orderServlet</servlet-name>
		<servlet-class>com.product_order.controller.product_orderServlet</servlet-class>
	</servlet>
	<servlet-mapping>	
		<servlet-name>product_orderServlet</servlet-name>
		<url-pattern>/product/product_order.html</url-pattern>
	</servlet-mapping>
	
	
		<servlet>
		<servlet-name>Sale_projectServlet</servlet-name>
		<servlet-class>com.sale_project.controller.Sale_projectServlet</servlet-class>
	</servlet>
	<servlet-mapping>	
		<servlet-name>Sale_projectServlet</servlet-name>
		<url-pattern>/product/sale_project.html</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>Product_favServlet</servlet-name>
		<servlet-class>com.product_fav.controller.Product_favServlet</servlet-class>
	</servlet>
	<servlet-mapping>	
		<servlet-name>Product_favServlet</servlet-name>
		<url-pattern>/back-end/product/product_fav.html</url-pattern>
	</servlet-mapping>
	
	

</web-app>

