<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>EA101G5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>LessonServlet</servlet-name>
    <servlet-class>com.lesson.controller.LessonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LessonServlet</servlet-name>
    <url-pattern>/lesson/lesson.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>checkTime</servlet-name>  
	<servlet-class>com.lesson.controller.checkTime</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>checkTime</servlet-name>
  	<url-pattern>/lesson/checkTime</url-pattern>
  </servlet-mapping>  
  
   <servlet>
   	<servlet-name>PicServletJDBC</servlet-name>
   	<servlet-class>com.lesson.controller.PicServletJDBC</servlet-class>
   </servlet>
   <servlet-mapping>
   	<servlet-name>PicServletJDBC</servlet-name>
   	<url-pattern>/lesson/PicServletJDBC.do</url-pattern>
   </servlet-mapping>
   
    <servlet>
	<servlet-name>LessonTimeServlet</servlet-name>  
	<servlet-class>com.lessonTime.controller.LessonTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LessonTimeServlet</servlet-name>
  	<url-pattern>/lesson/lessonTime.do</url-pattern>
  </servlet-mapping>   
  
      <servlet>
	<servlet-name>LessonDetailServlet</servlet-name>  
	<servlet-class>com.lessonDetail.controller.LessonDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LessonDetailServlet</servlet-name>
  	<url-pattern>/lesson/LessonDetailServlet.do</url-pattern>
  </servlet-mapping>   
  
</web-app>